.tela{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tarefas{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista {
    width: 100%;
    list-style-type: none;
}
.lista li{
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}
.titulo{
    font-family: 'Times New Roman', Times, serif;
}
.icon{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.icon a{
    text-decoration: none;
    color: black;
}
.contador:hover{
    color:#ff7f08;
}
.edit:hover{
    color:rgb(8, 255, 8);
}
.del:hover{
    color:red;
}