ol{
    margin-left: auto;
}

.screen{
    width: 100%;
    margin-top: 0%;
}

.screen li{
    padding: 1%;
    margin: 10px;
    font-size: 25pt;
}

h1{
    margin: auto;
}

.tarefas-do-dia{
    width: 50%;
    float: left;

}

.tarefas-gerais{
    width: 50%;
    float: left;
    
}